@page
@model MyApp.Namespace.DetalleVeterinarioModel
@{
}
<h1>DetalleVeterinario</h1>
<ul>
    <li>Cedula:@Model.veterinario.cedula</li>
    <li>Nombre:@Model.veterinario.Nombre</li>
    <li>Apellido:@Model.veterinario.Apellido</li>
    <li>Tarjeta profesional:@Model.veterinario.Tarjeta_Profesional</li>
    <li>Jornada Laboral:@Model.veterinario.Jornada_Laboral</li>
</ul>