@page
@model Veterinaria.App.FrontEnd.DetalleAuxiliarModel
@{
}
<h1>DetalleAuxiliar</h1>
<ul>
    <li>Cedula:@Model.auxiliar.cedula</li>
    <li>Nombre:@Model.auxiliar.Nombre</li>
    <li>Apellido:@Model.auxiliar.Apellido</li>
    <li>Jornada Laboral:@Model.auxiliar.Jornada_Laboral</li>
</ul>
