@page
@model Veterinaria.App.FrontEnd.DetalleMascotaModel
@{
}
<h1>DetalleMascota</h1>
<ul>
    <li>Nombre:@Model.mascota.Nombre</li>
    <li>Apellido:@Model.mascota.Edad</li>
    <li>Dueño:@Model.mascota.Dueño.Nombre</li>
</ul>
