@page
@model Veterinaria.App.FrontEnd.DetalleDueñoModel
@{
}
<h1>DetalleCliente</h1>
<ul>
    <li>Cedula:@Model.dueño.cedula</li>
    <li>Nombre:@Model.dueño.Nombre</li>
    <li>Apellido:@Model.dueño.Apellido</li>
    <li>Ciudad:@Model.dueño.Ciudad</li>
    <li>Telefono:@Model.dueño.Telefono</li>
</ul>
